// Color
$brown: #2b2520;
$green: #39dbc2;
$pink: #f41fbf;
$yellow: #ffed28;
$purple: #b028ff;
$blue: #49a7ff;
$red: #ff3838;
$orange: #db7953;

// Font
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bangers&display=swap");
// Size
$extra-large: 32px;
$large: 84px;

*,
*:before,
*:after {
  box-sizing: border-box;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
}

h1 {
  position: relative;
  font-family: "Exo";
  font-size: 5em;
  transform: skew(-15deg);
  letter-spacing: 0.03em;
  margin: 0;
  &::after {
    content: "";
    position: absolute;
    top: -0.1em;
    right: 0.05em;
    width: 0.4em;
    height: 0.4em;
    background-repeat: no-repeat;
  }

  span:first-child {
    display: block;
    text-shadow: 0 0 0.1em #8ba2d0, 0 0 0.2em black, 0 0 5em #165ff3;
    -webkit-text-stroke: 0.06em rgba(black, 0.5);
  }

  span:last-child {
    position: absolute;
    left: 1.3em;
    top: 0;
    background-image: linear-gradient(
      #032d50 25%,
      #00a1ef 35%,
      white 50%,
      #20125f 50%,
      #8313e7 55%,
      #ff61af 75%
    );
    -webkit-text-stroke: 0.01em #94a0b9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

h2 {
  font-family: "Mr Dafoe";
  margin: 0;
  margin-top: -40px;
  margin-bottom: 5px;
  font-size: 2em;
  color: white;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
  transform: rotate(-7deg);
}

.neon-text {
  $random-text: "underlying wire";
  position: relative;
  $stroke-width: $extra-large * 0.05;
  font-family: "Pacifico", cursive;
  text-transform: uppercase;
  font-size: $extra-large;
  color: lighten($pink, 25%);
  -webkit-text-stroke-width: $stroke-width;
  -webkit-text-stroke-color: lighten($pink, 5%);
  @include center;
  text-shadow: 0 0 40px lighten($pink, 5%), 0 0 40px lighten($pink, 5%),
    0 0 40px lighten($pink, 5%);
  &:after {
    content: $random-text;
    z-index: -1;
    position: absolute;
    color: transparent;
    -webkit-text-stroke-width: $stroke-width;
    -webkit-text-stroke-color: darken($pink, 40%);
    top: -5%;
    left: -0.5%;
  }
}

.description {
  color: hsl(50, 50%, 50%);
  font-family: "Bangers", cursive;
  position: relative;
  z-index: 2;
  font-size: 2.8em;
  letter-spacing: 12px;
  text-transform: uppercase;
  text-shadow: 1px 1px hsl(50, 50%, 45%), 2px 2px hsl(50, 50%, 40%),
    3px 3px hsl(50, 50%, 35%), 4px 4px hsl(50, 50%, 34%),
    5px 5px hsl(50, 50%, 33%), 6px 6px hsl(50, 50%, 32%),
    7px 7px hsl(50, 50%, 31%), 8px 8px hsl(50, 50%, 30%),
    9px 9px hsl(50, 50%, 29%), 10px 10px hsl(50, 50%, 28%),
    10px 10px 30px rgba(0, 0, 0, 0.7);
}

input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
